.overflow{
    overflow-x: hidden;
}
/* ------------------------------------------------------------------------------ */

/* NavBar */
.navbar{
    background-color: #539cd3;
    border-bottom: 1px solid black;
}
#logo{
    border: none;
}
a {
    color: aliceblue;
}
/* ----------------------------------------------------------------------------- */

.contenedor-tabla{
    margin-top: 11rem;
    margin-bottom: 4rem;
}

/* ----------------------------------------------------------------------------- */

/* footer */
.footer{
    float: initial;
    background-color: black;
}
.footer_top{
    border-top: 1px solid black;
}
#footer-1{
    color: white;
}
#footer-container{
    color: white
}