<div class="overflow">
    <div class="pagina">          
        <div class="contenido">
        
            <!-- Logo -->
            <div>
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <nav class="navbar navbar-light " id="logo-nav">
                        <a class="navbar-brand" href="#">                        
                            <img src="https://i.imgur.com/LwYbkvC.png" width="70" height="70">
                            Comparación de Créditos
                        </a>                    
                    </nav> 

                    <!-- NavBar --> 
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link navbar-brand mb-0 h1" href="#">Sobre Nosotros</a> 
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            
            <!--Container Formulario-->
            <div class="container-form">

                <!-- Titulo Formulario -->
                <div class="titulo text-center">
                    <h1>Regístrate</h1>
                    ¿Ya tienes una cuenta?
                    <a href="login">Iniciar Sesión</a>
                    <hr style="border-top-color: #007bff">
                </div> 
                
                <!-- formulario -->
                <form #dataRegistrar="ngForm" (ngSubmit)="registrarse(dataRegistrar.value)">     
                    <!-- Nombre - Apellido -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Nombre</label>
                            <input type="text" [(ngModel)]="nombre" class="form-control" id="nombre"  name="nombre" placeholder="Ej: René" required ngModel>                            
                        </div>                          
                        <div class="form-group col-md-6">
                            <label>Apellido</label>
                            <input type="text" [(ngModel)]="apellido" class="form-control" id="apellido" name="apellido" placeholder="Ej: Sanchéz" required ngModel>
                        </div>
                    </div>

                    <!-- Rut -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Rut</label>
                            <input type="text" [(ngModel)]="rut" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="rut" name="rut" placeholder="12345678" minlength="3" maxlength="8" required ngModel>
                        </div>                              
                    <div class="form-group col-md-2">
                        <label>Dígito</label>
                        <select id="inputDigit" [(ngModel)]="digito" class="form-control" name="digito" required ngModel>
                            <option disabled selected></option>
                            <option [(ngModel)]="digito" name="digito">K</option>
                            <option [(ngModel)]="digito" name="digito">0</option>
                            <option [(ngModel)]="digito" name="digito">1</option>
                            <option [(ngModel)]="digito" name="digito">2</option>
                            <option [(ngModel)]="digito" name="digito">3</option>
                            <option [(ngModel)]="digito" name="digito">4</option>
                            <option [(ngModel)]="digito" name="digito">5</option>
                            <option [(ngModel)]="digito" name="digito">6</option>
                            <option [(ngModel)]="digito" name="digito">7</option>
                            <option [(ngModel)]="digito" name="digito">8</option>
                            <option [(ngModel)]="digito" name="digito">9</option>
                        </select>
                    </div>
                </div>
                <hr style="border-top-color: aquamarine">

                <!-- Fecha Nacimiento -->
                <div class="form-row">
                    <label style="padding-left: 0.5rem">Fecha de Nacimiento:</label>                                    
                    <div class="form-group col-xs-8" style="padding-left: 3rem">                
                        <input type="date" [(ngModel)]="fecha_de_nacimiento" class="form-control" id="fecha_de_nacimiento" name="fecha_de_nacimiento" required ngModel>  
                        {{fecha_de_nacimiento}}            
                    </div>    
                </div>  
                <hr style="border-top-color: aquamarine">


                <!-- Género -->
                <div class="form-row">
                    <label>Género</label>
                    <!-- Masculino -->
                    <div class="form-check">
                        <input type="radio" class="form-check-input" [(ngModel)]="genero" id="materialGroupExample1" name="genero" value="masculino" ngModel>
                        <label class="form-check-label" for="materialGroupExample1">Masculino</label>
                    </div>
                    <!-- Femenino -->
                    <div class="form-check">
                        <input type="radio" class="form-check-input" [(ngModel)]="genero"  id="materialGroupExample2" name="genero" value="femenino" ngModel>
                        <label class="form-check-label" for="materialGroupExample2">Femenino</label>
                    </div>      
                    <!-- Otro -->
                    <div class="form-check">
                        <input type="radio" class="form-check-input" [(ngModel)]="genero" id="materialGroupExample3" name="genero" value="otro" ngModel>
                        <label class="form-check-label" for="materialGroupExample3">Otro</label>
                    </div>
                </div>                  
                
                <hr style="border-top-color: aquamarine">
            

                <!-- Sueldo -->
                <div class="form-group">  
                    <label>Sueldo Bruto</label>                          
                    <select id="inputDia" [(ngModel)]="sueldo" class="form-control" name="sueldo" required ngModel>
                        <option disabled selected>Renta</option>
                        <option [(ngModel)]="sueldo" name="sueldo" value=400000>$400.000 - $600.000</option>
                        <option [(ngModel)]="sueldo" name="sueldo" value=600001>$600.001 - $1.300.000</option>
                        <option [(ngModel)]="sueldo" name="sueldo" value=1300001>$1.300.001 - $2.500.000</option>
                        <option [(ngModel)]="sueldo" name="sueldo" value=2500000>$2.500.001 y más</option>
                    </select>
                </div> 
                <hr style="border-top-color: aquamarine">    
            
            
                <!-- Email -->
                <div class="form-group">
                    <label for="inputAddress2">Correo Electrónico</label>
                    <input type="email" [(ngModel)]="correo" class="form-control" id="inputAddress2" placeholder="cco@example.com" name="correo" required ngModel>
                    {{correo}}
                </div> 


                <!-- Contraseña -->   
                <div class="form-group">
                    <label for="inputPassword">Contraseña</label>
                    <input type="password" [(ngModel)]="password" id="clave1" name="password" class="form-control col"  minlength="6" maxlength="15" required ngModel>
                    <small id="inputpassword" class="text-muted" >
                        Debe tener 6-15 caracteres de longitud.
                    </small>
                </div>
                <!-- <div class="form-group">
                    <label>Confirmar Contraseña</label>
                    <input type="password" id="clave2" class="form-control col"  minlength="6" maxlength="15" required>                                
                </div>                                 -->
                
                




                <!-- Button trigger modal -->
                <input type="submit" class="btn-lg btn-block btn-primary" value="registrar">
                

                
            </form>                                                                                    
        </div>  
    </div>           
  
 
    <!-- Footer -->
    <footer class="footer">
        <div style="background-color: #3a697e;">
            <div class="container-footer">
                <div class="row py-3" id="footer-top">
                    <div class="col text-center" id="footer-1">
                        <h5>¡Conéctate con nosotros en las redes sociales!</h5>
                    </div>                  
                </div>          
            </div>
        </div>

        <!-- Footer Fondo -->
        <div class="container text-center text-md-left mt-4" id="footer-container">
            <div class="row mt-3">

                <!-- Box Izquierdo -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">        
                    <!-- Contenido -->
                    <h6 class="text-uppercase font-weight-bold text-center">CCO</h6>
                    <h6 class="text-center">Comparación de Créditos</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>"Que tus sueños no sean una meta sino una realidad"</p>
                </div>  

                <!-- Box Centro -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Contenido -->
                    <h6 class="text-uppercase font-weight-bold">Redes Sociales</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><a href="#!">Facebook</a></p>
                    <p><a href="#!">Instagram</a></p>
                    <p><a href="#!">Twitter</a></p>
                </div>

                <!-- Box Derecha -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Contenido -->
                    <h6 class="text-uppercase font-weight-bold text-center">Contacto</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><i class="fas fa-home mr-3"></i> Santiago, Chile</p>
                    <p><i class="fas fa-envelope mr-3"></i> corporation.cco@gmail.com</p>
                    <p><i class="fas fa-print mr-3"></i>
                        +569 12345678
                    </p>
                </div> 
            </div>
        </div>    


        <!-- Copyright  -->
        <div class="footer-copyright text-center py-3" id="copyright">© 2019 Copyright:
            <a href="#"> CCO Corporation®</a>
        </div> 
    </footer>
</div>