.overflow{
    overflow-x: hidden;
}
/* ---------------------------------------- */

.navbar{
    background-color: #539cd3;
    border-bottom: 1px solid black;
}
#logo-nav{
    border-bottom: none;
}

/* ------------------------------------------ */

.container-form{
    width: 468px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    border: 1px solid aquamarine;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 59px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 59px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 59px 0px rgba(0,0,0,1);
}
.form-check{
    padding-left: 2rem;
}

/* --------------------------------------------- */

#footer-top{
    border: 1px solid black;
}
.footer{
    background-color: black;
}
#footer-1{
    color: white;
}
#footer-container{
    color: white;
}
#copyright{
    color: aliceblue;
}