<head>
    
</head>

<!-- Oculpar overflow(Barra) de abajo -->
<div class="overflow" id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark-gradient fixed-top">
        <nav class="navbar navbar-light " id="logo">
            <a class="navbar-brand" href="#">
                <img src="https://i.imgur.com/LwYbkvC.png" width="70" height="70">
                CCO Corporation®
            </a>
        </nav>

        <!-- NavBar - Menu -->
        <div class="navbar-menu">
            <div class="navbar-center">

                <ul class="navbar-nav navbar-center" id="nav_menu">
                    <li class="nav-menu"><a class="nav-link navbar-brand " href="compararCredito">Comparar Créditos</a>
                    </li>
                    <li class="nav-menu"><a class="nav-link navbar-brand" href="#">Preguntas Frecuentes</a></li>
                    <li class="nav-menu"><a class="nav-link active navbar-brand" href="#">Sobre Nosotros</a> </li>
                </ul>

            </div>
        </div>

        <!-- Navbar - Derecha -->
        <div class="navbar-collapse">

            <ul class="navbar-nav ml-auto">
                <li class="nav-menu"><a class="nav-link" href="login">Iniciar Sesión</a></li>
                <li class="nav-menu"><a class="nav-link" href="register">Registrarse</a></li>
            </ul>

        </div>

    </nav>

    <!-- ------------------- FIN NAVBAR -------------------------------------------- -->

    <!-- FONDO -->
    <div class="slide" style="width: 40%; margin-top: 9rem; margin-left: auto; margin-right: auto; margin-bottom: 4rem;">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item">
              <img src="http://thewaterbear.com/content/images/2015/Apr/detail1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-lg-block" style="color: #00477e; font-family: 'Bad Script', cursive;">
                <h1>Usos y beneficios</h1>                
                <h3>Los créditos de consumo permiten recibir dinero y pagarlo en cuotas mensuales para una mejor planificación.
                    Pueden usarse para consolidar deudas o pagar proyectos que requieren un monto mayor de dinero.
                    Por ejemplo: Compras, viajes, estudios,etc.
                </h3><br>
              </div>
            </div>
            <div class="carousel-item active">
              <img src="http://thewaterbear.com/content/images/2015/Apr/detail1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block" style="color: #00477e; font-family: 'Bad Script', cursive;">
                <h1>¿Quiénes Somos?</h1><br>
                <h3>Somos un equipo enfocado en ayudar a encontrar el mejor crédito.</h3>
                <br><br><br>
              </div>
            </div>
            <div class="carousel-item">
              <img src="http://thewaterbear.com/content/images/2015/Apr/detail1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block" style="color: #00477e; font-family: 'Bad Script', cursive;">                
                <h3>Es <b>importante</b> considerar la taza de interes, los costos mensuales y conocer la cuota mensual. Esta información te ayudará a encontrar el mejor crédito.</h3>
                <br><br><br><br>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    <!-- ----------------- -->

    <div class="pasos" style="background-color: #7b9eab">
        <div class="row py-5" style="border: 1px solid black">
            <div class="col text-center">
                <div class="row m-0 p-2">

                    <div class="col-md-4 row m-0 py-3  align-items-end">
                        <div class="col-9">
                            <h4><span class="number">1</span>. Compara o Simula</h4>
                            <p>Compara o simula de forma muy sencilla</p>
                        </div>
                    </div>

                    <div class="col-md-4 row m-0 py-3  align-items-end">
                        <div class="col-9">
                            <h4><span class="number">2</span>. Elige</h4>
                            <p>Elige el crédito que más te guste</p>
                        </div>
                    </div>

                    <div class="col-md-4 row m-0 py-3  align-items-end">
                        <div class="col-9">
                            <h4><span class="number">3</span>. Solicita</h4>
                            <p>Solicita tu credito de manera rápida y segura</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- --------------------------------------------------- -->

    <!-- Footer -->
    <footer class="footer">
        <div style="background-color: #3a697e;">
            <div class="container-footer">
                <div class="row py-3" id="footer-top">
                    <div class="col text-center" id="footer-1">
                        <h5>¡Conéctate con nosotros en las redes sociales!</h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Fondo -->
        <div class="container text-center text-md-left mt-4" id="footer-container">
            <div class="row mt-3">

                <!-- Box Izquierdo -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Contenido -->
                    <h6 class="text-uppercase font-weight-bold text-center">CCO</h6>
                    <h6 class="text-center">Comparación de Créditos</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>"Que tus sueños no sean una meta sino una realidad"</p>
                </div>
                <!-- FIN BOX IZQUIERDO -->

                <!-- Box Centro -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Contenido -->
                    <h6 class="text-uppercase font-weight-bold">Redes Sociales</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><a href="#!">Facebook</a></p>
                    <p><a href="#!">Instagram</a></p>
                    <p><a href="#!">Twitter</a></p>
                </div>
                <!-- FIN BOX CENTRO -->

                <!-- Box Derecha -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Contenido -->
                    <h6 class="text-uppercase font-weight-bold text-center">Contacto</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><i class="fas fa-home mr-3"></i> Santiago, Chile</p>
                    <p><i class="fas fa-envelope mr-3"></i> corporation.cco@gmail.com</p>
                    <p><i class="fas fa-print mr-3"></i>
                        +569 12345678
                    </p>
                </div>
                <!-- FIN BOX DERECHA -->
            </div>
        </div>

        <!-- Copyright  -->
        <div class="footer-copyright text-center py-3" id="copyright">© 2019 Copyright:
            <a href="#"> CCO Corporation®</a>
        </div>

    </footer>
    <!-- FIN FOOTER -->
</div>
<!-- FIN OVERFLOW -->