.overflow{
    overflow-x: hidden;
}
/* ----------------------------------------------------------- */

/* NavBar */
.navbar{
    background-color: #539cd3;
    border-bottom: 1px solid black;
}
#logo{
    border: none;
}
a {
    color: aliceblue;
}
/* -------------------------------------------------------------------- */

.fondo{
    background-color: #abd7f8;
    width: 100%;
    height: 80rem;
}
/* ----------------------------------------------------- */
#rect-izquierda{
    margin-top: 10rem;
    margin-left: 13rem;
}
h1, a{
    font-family: 'BundayClean',sans-serif;
    font-weight: bold;
}


#rect-derecha{
    margin-top: 20rem;
    margin-left: 5rem;
}
/* ----------------------------------------------------- */

/* footer */
.footer{
    float: initial;
    background-color: black;
}
.footer_top{
    border-top: 1px solid black;
}
#footer-1{
    color: white;
}
#footer-container{
    color: white
}