/* NavBar */
.navbar{
    background-color: #539cd3;
    border-bottom: 1px solid black;
}
#logo{
    border: none;
}
a {
    color: aliceblue;
}
.btn{
    border-color: white;
}

/* ---------------------------------------- */
/* body */
.form-group{
    margin-bottom: 0%;
}

/* Container del centro */
#izquierdo{
    width: 60rem;
    height: 70rem;
    border: 1px solid black;
    background-color: aliceblue;
}

/* Formulario */
#formulario{
    border-radius:40px;
    padding: 2rem;
    margin-top: 13rem;
    margin-left: 15rem;
    border: 1px solid black;
    background-color: azure;
    width: 35rem;
    height: 42rem;
}
#nombre_banco{
    border: 1px solid slateblue;
}
#tasa{
    width: 92%;
    border: 1px solid slateblue;
}
/* -------------------------------------------- */

/* Card derecha */
#card{
    border-radius: 25px;
    width: 25rem;
    border: 1px solid black;
    background-color: aquamarine;
    margin-top: 10rem;
    margin-left: 3rem;
    padding: 1rem;
}

/* Imagen Card */
.contenedor-img{
    border: 2px solid black;
    width: 334px;
    height: 210px;
    background-color: beige;
    padding: 5px;
    margin-left: 1rem;
}
#img-card{
    width: 280px; 
    height: 200px;  
    margin-left: 0.5rem
}

/* ------------------------------------------------ */

#footer-top{
    border: 1px solid black;
}
.footer{
    background-color: black;
}
#footer-1{
    color: white;
}
#footer-container{
    color: white;
}
#copyright{
    color: aliceblue;
}