/* NavBar */
.navbar{
    background-color: #539cd3;
    border-bottom: 2px solid black;
}
#logo{
    border: none;
}
a {
    color: aliceblue;
}
.btn{
    border-color: white;
}

.dropdown-menu{
    border: 2px solid black;
    top: 85%;
    right: 0.5rem;
}
/* ----------------- FIN NAVBAR -------------------- */

/* body */
.form-group{
    margin-bottom: 0%;
}

/* Container del centro */
#izquierdo{
    width: 65rem;
    height: 65rem;
    margin-left: 0.5rem;
    border: 1px solid black;
    background-color: teal;
    border-bottom-color: transparent;
}

#izquierda-form{
    background-color: whitesmoke;
    width: 50rem;
    height: 70.9rem;
    margin-left: 7rem;
    margin-top: -6rem;
    padding-top: 4rem;
}

/* Formulario */
#formulario{
    border-radius:40px;
    padding: 2rem;
    margin-top: 13rem;
    margin-left: 10rem;
    border: 1px solid black;
    background-color: azure;
    width: 30rem;
    height: 33rem;
    border-bottom-color: 1px solid black;
}
#nombre_banco{
    border: 1px solid slateblue;
}
#tasa{
    width: 100%;
    border: 1px solid slateblue;
}


/* -------------------------------------------- */

#contenedor-card{
    width: 35rem;   
    background-color: whitesmoke;
}

/* Card derecha */
#card{
    border-radius: 25px;
    width: 25rem;
    border: 1.5px solid black;
    border-left-color: 10px solid black;
    /* Sombra */
    -webkit-box-shadow: 0px 0px 62px -9px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 62px -9px rgba(0,0,0,1);
    box-shadow: 0px 0px 62px -9px rgba(0,0,0,1);
    /* ---------------------------------------- */
    background-color: rgb(245, 249, 253);
    margin-top: 10rem;
    margin-left: 5rem;
    margin-right: 10rem;
    padding: 1rem;
}

/* Imagen Card */
.contenedor-img{
    border: 2px solid black;
    background-color: beige;
    padding: 5px;
    margin-left: 1rem;
}
#img-card{
    width: 280px; 
    height: 200px;  
    margin-left: 0.5rem
}
/* ------------------------------------------------ */
#derecha{
    height: 65rem;
    width: 20rem;
    border: 1px solid black;
    border-bottom-color: transparent;
    background-color: teal;
}

/* ------------------------------------------------ */

#footer-top{
    border: 1px solid black;
}
.footer{
    background-color: black;
}
#footer-1{
    color: white;
}
#footer-container{
    color: white;
}
#copyright{
    color: aliceblue;
}