/* NavBar */
.navbar{
    background-color: #539cd3;
    border-bottom: 2px solid black;
}
#logo{
    border: none;
}
a {
    color: aliceblue;
}

/* -------------------------------------------------- */

/* Perfil Button */
#perfil_button{
    border-radius: .40rem;
    color: #007bff;
    border-color: white;
    background-color: white;
}

/* --------------------------------------------------- */

/* footer */
.footer{
    float: initial;
    background-color: black;
}
.footer_top{
    border-top: 1px solid black;
}
#footer-1{
    color: white;
}
#footer-container{
    color: white
}