<div class="container">
    <h1>Login</h1>
    <form>
        <div class="form-group">
          <label for="idInputEmail">Nombre</label>
          <input type="email" class="form-control" id="idInputEmail" placeholder="Ingresar nombre usuario">
        </div>
        <div class="form-group">
          <label for="idInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="idInputPassword1" placeholder="*************">
        </div>
        <!-- <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-primary">Ingresar</button>
      </form>
      <br>
      <a href="#" id="olvido">¿Te olvidaste de la contraseña?</a>
</div>