<div class="container">

<!-- ---------Titulo---------------- -->
  <h1>Login</h1>
<!-- ------------------------------- -->

  <form>

    <!-- Nombre -->
    <div class="form-group">
      <label>Nombre</label>
      <input type="email" ([ngModel])="email" class="form-control" id="idInputEmail" placeholder="Ingresar nombre de usuario">
    </div>

    <!-- Contraseña -->
    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" ([ngModel])="pass" class="form-control" id="idInputPassword1" placeholder="*************">
    </div>

    <!-- Botón -->
    <button type="submit" class="btn btn-primary">Ingresar</button>

    <!-- Fin Formulario -->
  </form>

</div>