<div class="container">

<!-- ---------Titulo---------------- -->
  <h1>Login</h1>
<!-- ------------------------------- -->

  <form #dataUser="ngForm" (ngSubmit)="ingresar(dataUser.value)">

    <!-- Nombre -->
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingresar nombre de usuario" ngModel>
    </div>

    <!-- Contraseña -->
    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" name="password" class="form-control" id="idInputPassword1" placeholder="*************" ngModel>
    </div>

    <!-- Botón -->
    <button type="submit" class="btn btn-primary">Ingresar</button>

    <!-- Fin Formulario -->
  </form>

</div>