<div class="container">
 
  <h1>Login</h1>
 
    <form #dataUser="ngForm" (ngSubmit)="enviarDatos(dataUser.value)">
      
      <div class="form-group">
        <label>Ingresar Correo</label>
        <input type="email" name="correo" class="form-control" id="idInputEmail" placeholder="nombre@gmail.com" required ngModel>
        <!-- {{correo}} -->
      </div>
      
      <div class="form-group">
        <label>contraseña</label>
        <input type="password" name="password" class="form-control" id="idInputPassword1" placeholder="********" required ngModel>
        <!-- {{password}} -->
      </div>
      
      <button type="submit" class="btn btn-primary">Ingresar</button>
    
    </form>
      
    <br>
    
    <a routerLink="Administracion">Ingresar como ejecutivo o administrador.</a>

</div>