<!-- Oculpar overflow(Barra) de abajo -->
<div class="overflow" id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark-gradient fixed-top">
    <nav class="navbar navbar-light " id="logo">
        <a class="navbar-brand" href="#">
            <img src="https://i.imgur.com/LwYbkvC.png" width="70" height="70"> 
            CCO Corporation®            
        </a>
    </nav> 
    
    <!-- NavBar - Menu --> 
    <div class="navbar-menu">
        <div class="navbar-center">
            
            <ul class="navbar-nav navbar-center" id="nav_menu">
                <li class="nav-menu"><a class="nav-link navbar-brand " href="compararCredito">Comparar Créditos</a></li>
                <li class="nav-menu"><a class="nav-link navbar-brand" href="#">Preguntas Frecuentes</a></li>
                <li class="nav-menu"><a class="nav-link active navbar-brand" href="#">Sobre Nosotros</a> </li>              
            </ul>

        </div>
    </div>
    
    <!-- Navbar - Derecha -->
    <div class="navbar-collapse">
        
        <ul class="navbar-nav ml-auto">
            <li class="nav-menu"><a class="nav-link" href="login">Iniciar Sesión</a></li>  
            <li class="nav-menu"><a class="nav-link" href="register">Registrarse</a></li>
        </ul>

    </div>

</nav>


<!-- ------------------- FIN NAVBAR -------------------------------------------- -->
<!-- Body -->
<div class="cuerpo">        
        
    <div class="container-fluid"> 
        
        <h1>Sobre Nosotros</h1>
        
        <hr color="white"><br>

        <!-- <div class="form-group col-lg-6">
            <h3>Somos un equipo que </h3>
        </div> -->
        
        <h3>Equipo</h3>
        
        <div class="equipo">
            
            <div class="cuadro1 d-inline-block"><div class="col-xs-2 d-inline-block" id="seba"><img src="https://i.imgur.com/NEzOeW1.jpg" alt="" style="width: 200px;height: 250px; border-bottom-left-radius: 75%;border-bottom-right-radius: 75%"></div>
                <div class="rect1"><h4>Seba</h4></div>
            </div>
            
            <div class="cuadro2 d-inline-block"><div class="col-xs-2 d-inline-block" id="sandy"><img src="https://i.imgur.com/j2vgrgu.jpg" alt="" style="width: 200px;height: 250px; border-bottom-left-radius: 75%;border-bottom-right-radius: 75%"></div>
                <div class="rect2"><h4>Sandy</h4></div>
            </div>
            
            <div class="cuadro3 d-inline-block"><div class="col-xs-2 d-inline-block" id="rene"><img src="https://i.imgur.com/HifZlAD.jpg" alt="" style="width: 200px;height: 250px; border-bottom-left-radius: 75%;border-bottom-right-radius: 75%"></div>
                <div class="rect3"><h4>René</h4></div>
            </div>
        
        </div>
        
        <div class="equipo" style="padding-bottom: 5rem">
            
            <div class="cuadro4 d-inline-block"><div class="col-xs-2 d-inline-block" id="cony"></div>
                <div class="rect4"><h4>Cony</h4></div>
            </div>
            
            <div class="cuadro7 d-inline-block"><div class="col-xs-2 d-inline-block" id="jorge"><img src="https://i.imgur.com/hCrqt6M.jpg" alt="" style="width: 200px;height: 250px; border-bottom-left-radius: 75%;border-bottom-right-radius: 75%"></div>
                <div class="rect7"><h4>Jorge</h4></div>
            </div>   
            
            <div class="cuadro8 d-inline-block"><div class="col-xs-2 d-inline-block" id="camila"><img src="https://imgur.com/6h44RmK.jpg" alt="" style="width: 200px;height: 250px; border-bottom-left-radius: 75%;border-bottom-right-radius: 75%"></div>
                <div class="rect8"><h4>Camila</h4></div>
            </div>
            <!-- <div class="cuadro5 d-inline-block"><div class="col-xs-2 d-inline-block" id="rhada"></div>
                <div class="rect5"><h4>Rhada</h4></div>
            </div>
            
            <div class="cuadro6 d-inline-block"><div class="col-xs-2 d-inline-block" id="evelyn"></div>
                <div class="rect6"><h4>Evelyn</h4></div>
            </div>                -->
        
        </div>
        
        
    </div>
</div>          


<!-- Footer -->
<footer class="footer">
    <div style="background-color: #3a697e;">
        <div class="container-footer">
            <div class="row py-3" id="footer-top">
                <div class="col text-center" id="footer-1">
                    <h5>¡Conéctate con nosotros en las redes sociales!</h5>
                </div>                  
            </div>          
        </div>
    </div>

    <!-- Footer Fondo -->
    <div class="container text-center text-md-left mt-4" id="footer-container">
        <div class="row mt-3">

            <!-- Box Izquierdo -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">        
                <!-- Contenido -->
                <h6 class="text-uppercase font-weight-bold text-center">CCO</h6>
                <h6 class="text-center">Comparación de Créditos</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>"Que tus sueños no sean una meta sino una realidad"</p>
            </div>  
            <!-- FIN BOX IZQUIERDO -->

            <!-- Box Centro -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Contenido -->
                <h6 class="text-uppercase font-weight-bold">Redes Sociales</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="#!">Facebook</a></p>
                <p><a href="#!">Instagram</a></p>
                <p><a href="#!">Twitter</a></p>
            </div>
            <!-- FIN BOX CENTRO -->

            <!-- Box Derecha -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Contenido -->
                <h6 class="text-uppercase font-weight-bold text-center">Contacto</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><i class="fas fa-home mr-3"></i> Santiago, Chile</p>
                <p><i class="fas fa-envelope mr-3"></i> corporation.cco@gmail.com</p>
                <p><i class="fas fa-print mr-3"></i>
                    +569 12345678
                </p>
            </div> 
            <!-- FIN BOX DERECHA -->
        </div>
    </div>    

    <!-- Copyright  -->
    <div class="footer-copyright text-center py-3" id="copyright">© 2019 Copyright:
        <a href="#"> CCO Corporation®</a>
    </div> 

</footer> 
<!-- FIN FOOTER -->
</div> 
<!-- FIN OVERFLOW -->