/* NavBar */
.navbar{
    background-color: #539cd3;
    border-bottom: 1px solid black;
}
#logo{
    border: none;
}
a {
    color: aliceblue;
}
.btn{
    border-color: white;
}

/* ----------------- FIN NAVBAR -------------------- */

.card{
    margin-top: 10rem;
    margin-left: 20rem;
    margin-bottom: 5rem;
    width: 70rem;    
}

/* ------------------------------------------------ */

#footer-top{
    border: 1px solid black;
}
.footer{
    background-color: black;
}
#footer-1{
    color: white;
}
#footer-container{
    color: white;
}
#copyright{
    color: aliceblue;
}