<div class="overflow" id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark-gradient fixed-top">
        <nav class="navbar navbar-light " id="logo">
            <a class="navbar-brand" href="#">
                <img src="https://i.imgur.com/NGrFzDf.png" width="50" height="50"> 
                CCO Corporation®            
            </a>
        </nav> 
        
        <!-- NavBar - Menu --> 
        <div class="navbar-menu">
            <div class="navbar-center">
                <ul class="navbar-nav navbar-center" id="nav_menu">
                    <li class="nav-menu">
                        <a class="nav-link navbar-brand " href="#">Comparar Créditos</a>
                    </li>
                    <li class="nav-menu">
                        <a class="nav-link navbar-brand" href="#">Preguntas Frecuentes</a>
                    </li>
                    <li class="nav-menu">
                        <a class="nav-link active navbar-brand" href="#">Sobre Nosotros</a> 
                    </li>              
                </ul>
            </div>
        </div>
        
        <!-- Navbar - Derecha -->
        <div class="navbar-collapse">
            <div class="navbar-nav ml-auto">                
                <button type="button" class="btn btn-outline-light nav-link" href="">
                    <img src="https://imgur.com/PSrY98T.png" class="media-object" style="width:60px; border-radius: 100%">
                </button>    
            </div>
        </div>
    </nav>

    
    <!-- Body -->
    <div class="form-group"  id="medio">
        <div class="form-group col-lg-4" id="money">
            <div class="form-group" id="dinero">
                <div class="navbar justify-content-center" id="nav-container"><h5>Dolar/CLP/EU</h5></div>
            </div>
        </div>
        <div class="form-group col-lg-5" id="info-container">
            <div class="form-group" id="container-info">
                <div class="navbar " id="nav-container"></div>
                <div class="row">
                    <div class="img-cont col-lg-4">
                        <img src="https://imgur.com/PSrY98T.png" class="media-object" id="img-info">  
                    </div> 
                    <div class="info-cont col-lg-3" style="color: white" id="info-cont">
                        <p class="bg-info">Nombre:</p>
                        <p class="bg-info">Apellido:</p>
                    </div>
                    <div class="info-cont col-lg-3" id="info-cont">
                        <p>René</p>
                        <p>Sanchez</p>
                    </div>
                </div>
                <div class="navbar " id="nav-container"></div>
                <div class="bloque2">
                    <div class="row">
                        <div class="info-sueldo">
                            <h4 class="bg-info">Su ingreso:</h4>
                            <div class="input-group mb-2 mr-sm-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="200.000" disabled>
                            </div>
                        </div>
                        <div class="info-id">
                            <h4 class="bg-info">Su ID:</h4>
                            <div class="input-group mr-xs-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">#</div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="4276807" disabled>
                            </div>
                        </div>
                    </div>
                    <!-- Botones -->
                    <div class="row col-lg-12">
                        <button type="button" class="btn btn-outline-light nav-link" href="" id="boton-info1">Comparar</button>
                        <button type="button" class="btn btn-outline-light nav-link" href="" id="boton-info2">Historial</button>
                    </div>
                </div>                        
            </div>
        </div>
    </div>
    



    <!-- Footer -->
    <footer class="footer">
        <div style="background-color: #3a697e;">
            <div class="container-footer">
                <div class="row py-3" id="footer-top">
                    <div class="col text-center" id="footer-1">
                        <h5>¡Conéctate con nosotros en las redes sociales!</h5>
                    </div>                  
                </div>          
            </div>
        </div>
    
        <!-- Footer Fondo -->
        <div class="container text-center text-md-left mt-4" id="footer-container">
            <div class="row mt-3">
    
                <!-- Box Izquierdo -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">        
                    <!-- Contenido -->
                    <h6 class="text-uppercase font-weight-bold text-center">CCO</h6>
                    <h6 class="text-center">Comparación de Créditos</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>"Que tus sueños no sean una meta sino una realidad"</p>
                </div>  
    
                <!-- Box Centro -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Contenido -->
                    <h6 class="text-uppercase font-weight-bold">Redes Sociales</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><a href="#!">Facebook</a></p>
                    <p><a href="#!">Instagram</a></p>
                    <p><a href="#!">Twitter</a></p>
                </div>
    
                <!-- Box Derecha -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Contenido -->
                    <h6 class="text-uppercase font-weight-bold text-center">Contacto</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><i class="fas fa-home mr-3"></i> Santiago, Chile</p>
                    <p><i class="fas fa-envelope mr-3"></i> corporation.cco@gmail.com</p>
                    <p><i class="fas fa-print mr-3"></i>
                        +569 12345678
                    </p>
                </div> 
            </div>
        </div>    
    
        <!-- Copyright  -->
        <div class="footer-copyright text-center py-3" id="copyright">© 2019 Copyright:
            <a href="#"> CCO Corporation®</a>
        </div> 
    </footer> 
</div> 
