.overflow{
    overflow-x: hidden;
}


/* NavBar */
.navbar{
    background-color: #539cd3;
    border-bottom: 1px solid black;
}
#logo{
    border: none;
}
a {
    color: aliceblue;
}
.btn{
    border-color: white;
}


/* Body */
.form-group {
    margin-bottom: 0rem;
}
/* Fondo */
#medio{
    background: rgb(1,36,56);
    background: -moz-linear-gradient(0deg, rgba(1,36,56,1) 0%, rgba(9,62,92,1) 25%, rgba(105,164,172,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(1,36,56,1) 0%, rgba(9,62,92,1) 25%, rgba(105,164,172,1) 100%);
    background: linear-gradient(0deg, rgba(1,36,56,1) 0%, rgba(9,62,92,1) 25%, rgba(105,164,172,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#012438",endColorstr="#69a4ac",GradientType=1);
}

/* Container Dinero */
#money{
    height: 20rem;
    border: 1px solid transparent;
    margin-left: auto;
    margin-right: auto;
}
#dinero{
    height: 190px;
    border: 1px solid black;
    background-color: aliceblue;
    margin-top: 4rem;
}
#nav-container{
    background-color: #048dbe;
    height: 2.5rem;    
    color: white;
}
/* --------- */

#separar{
    height: 3rem;
}

/* Info */
#info-container{
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
}
#container-info{
    border: 1px solid black;    
    background-color: #91a8b5;
    margin-top: 5rem;
}
#img-info{
    margin-top: 1.5rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    width:150px;
    border-radius: 20%;
}
#info-cont{
    padding-top: 3rem;
}
.bloque2{
    background: #748fa1;
}
/* --------- */
.info-sueldo{
    margin-left: 4rem;
    margin-top: 1rem;
}
.info-id{
    margin-top: 1rem;
    margin-left: 4rem;
}
#boton-info1{
    margin-top: 2rem;
    margin-left: 12rem;
    margin-bottom: 2rem;
}
#boton-info2{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}



/* footer */
.footer{
    float: initial;
    background-color: black;
}
.footer_top{
    border-top: 1px solid black;
}
#footer-1{
    color: white;
}
#footer-container{
    color: white
}